In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from narwhals.stable.v1 import Datetime
from sqlalchemy.dialects.mssql.information_schema import columns
from sqlalchemy.sql.functions import current_timestamp

In [2]:
churn_status = pd.read_csv('/Users/mac/PycharmProjects/Customer_Churn/Datasets/csv_files/crm_churn_status.csv')
churn_status

     customer_id  churn_status
0              1             0
1              2             1
2              3             0
3              4             0
4              5             0
..           ...           ...
995          996             0
996          997             0
997          998             0
998          999             0
999         1000             0

[1000 rows x 2 columns]

In [3]:
churn_status.to_csv('churn_status', index=False)